.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
  }

/* Container to center everything */
.storytelling {
    display: flex;
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Vertically center everything */
    align-items: center;     /* Horizontally center everything */
    height: 100vh;           /* Full viewport height */
    margin: 0;
}

@media (max-width: 768px) {
  .storytelling {
    margin-top: 180px;
    padding: 0 20px;
  }
}