<div class="content-container">
<h2><%= t("agenda") %></h2>
<div class="table">
    <div class="cell image-cell">
        <%= image_tag "Agenda22.jpeg" %>
    </div>
    <div class="cell info-cell">
        <a href="https://docs.google.com/document/d/1oeGRrk_jl8E1EVxP1ltmtsZjmRvWU3im/edit?usp=sharing&ouid=112950174149669101507&rtpof=true&sd=true">Agenda 22nd of March<br> Areas D2&D3</a>
    </div>
    <div class="cell image-cell">
        <%= image_tag "Agenda23.jpeg" %>
    </div>
    <div class="cell info-cell">
        <a href="https://docs.google.com/document/d/12CvC6BaAHMLY35wKqj4CWuWfkk8w24GR/edit?usp=sharing&ouid=112950174149669101507&rtpof=true&sd=true">Agenda 23rd of March<br> Areas D1&D5</a>
    </div>
</div>
</div>
